* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
header {
    border-bottom: 1px solid lightgray;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
#banner {
    display: flex;
    background-color: navy;
    align-items: center;
}
img {
    z-index: 100;
    border: 1px solid black;
}
h2 {
    font-size: larger;
    font-weight: 300;
}
#title {
    display: flex;
    align-items: baseline;
}
#name {
    color: navy;
    font-weight: 500;
    padding: 3px;
}
#portfolio {
    font-weight: 300;
    margin-left: 10px;
    padding: 3px;
}
#styling{
    display: flex;
    align-items: center;
}
#styling i {
    padding-left: 10px;
}
#red {
    color: darkred;
    cursor: pointer;
}
#green {
    color: forestgreen;
    cursor: pointer;
}
#blue {
    color: navy;
    cursor: pointer;
}
#myInfo {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content:space-around;
}
#aboutMe h1 {
    font-weight: 500;
    font-size: 26px;
    padding: 0px 15px;
    color: white;

}
#description {
    font-size: 24px;
    font-weight: 300;
    color: white;
    padding: 0px 15px;
}
#myImage {
    background-color: white;
    border: 10px solid white;
    margin-top: 8px;
    margin-left: 10px;
}
#contactMe {
    font-size: 14px;
    display: flex;
    background-color: white;
    align-items:center;
    padding-top: 5px;
    justify-content: space-evenly;
    color: navy;
}
#bumper {
    height: 30px;
    background-color: navy;
}
#projects {
    margin: auto;
    border: 1px solid lightgrey;
    position: relative;
    top: -20px;
    justify-content: center;
    width: 75%;
    padding: 15px;
    background-color: lightsteelblue;
    border-radius: 15px;
}
#experience h2 {
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
}
#projectList {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.projectListItem {
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: white;
    list-style-type: none;
    padding: 10px 40px 10px 40px;
    margin: 5px;
    text-align: center;
    width: 30%;
}
#skills {
    text-align: center;
}
#skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    color: navy;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    
    font-weight: 500;
}
a:visited {
    text-decoration: none;
}


@media only screen and (max-width: 580px) {
    #styling {
        display: none;
    }
    #myInfo {
        flex-wrap: wrap;
    }
    #portfolio {
        font-size: 1.6em;
    }
    #aboutMe h1 {
        padding-top: 20px;
        text-align: left;
    }
    #aboutMe {
        width: 95%;

    }
    #description {
        text-align: left;
    }
    #myImage {
        margin:20px;
    }
    #skillsGrid {
        grid-row: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #skillsGrid i {
        margin-top: 10px;
    }
    #projectList {
        display: block;
    }
    .projectListItem {
        margin: 15px auto;
        width: 90%;
    }
    #title {
        width: 100%;
        justify-content: space-between;
    }
  }

