* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
header {
    border-bottom: 1px solid lightgray;
    text-align: left;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-bottom: 5px;
}
#banner {
    display: flex;
    background-color: navy;
    align-items: center;
    height: 250px;
}
img {
    z-index: 100;
    border: 1px solid black;
}
h2 {
    font-size: larger;
    font-weight: 300;
}
#title {
    display: flex;
    align-items: center;
}
#name {
    color: navy;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 5px;
}
#portfolio {
    font-weight: 300;
    margin-left: 10px;
    padding-top: 5px;

}
nav {
    display: flex;
    align-items: center;
}
nav i {
    padding-left: 10px;
}
#red {
    color: crimson;
    cursor: pointer;
}
#green {
    color: forestgreen;
    cursor: pointer;
}
#blue {
    color: navy;
    cursor: pointer;
}
#myinfo {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content:space-around;
}
#aboutme {
    width: 70%;
}
#aboutme h1 {
    font-weight: 500;
    font-size: 26px;
    color: white;
}
#description {
    font-size: 24px;
    font-weight: 300;
    color: white;
}
#myimage {
    background-color: white;
    border: 10px solid white;
    margin-top: 8px;
}
#contactme {
    font-size: 14px;
    display: flex;
    background-color: white;
    align-items:center;
    padding-top: 5px;
    justify-content: space-evenly;
    color: navy;
}
#bumper {
    height: 30px;
    background-color: navy;
}
#projects {
    margin: auto;
    border: 1px solid lightgrey;
    position: relative;
    top: -20px;
    justify-content: center;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: lightsteelblue;
    border-radius: 15px;
}
.exptitle h2 {
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
#projectlist {
    display: flex;
}
.projectlistitem {
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: white;
    width: 33%;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills {
    text-align: center;
}
#skillsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    color: navy;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    
    font-weight: 500;
}
a:visited {
    text-decoration: none;
}

@media only screen and (max-width: 580px) {
    nav {
        display: none;
    }
    #portfolio {
        display: none;
    }
    #aboutme h1 {
        font-size: 1.3em;
    }
    #name {
        font-size: 1.5em;
    }
    #description {
        font-size: .9em;
    }
    #myprojects {
        font-size: .7em;
    }
    #myimage {
        margin-left: 4px;
    }
  }
